<!DOCTYPE html>
<html lang="en" ng-app="rewardServiceTestApp"
      xmlns:th="http://www.springframework.org/schema/data/jaxb" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script th:src="@{/angular.min.js}"></script>
    <script th:src="@{/rewardServiceTestController.js}"></script>

    <link th:href="@{/bootstrap.min.css}" rel="stylesheet" />

</head>
<body ng-controller="RewardServiceTestController">

<h3>User(s)</h3>
<table cellpadding="4" class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Country ISO Code
        </th>
        <th>
            Currency ISO Code
        </th>
        <th>
        </th>
        <th>
        </th>
        <th>
        </th>
    </tr>
    <tr ng-repeat="user in users">
        <td>{{user.name}}</td>
        <td>{{user.countryISOCode}}</td>
        <td>{{user.currencyISOCode}}</td>
        <td>
           <button class="btn btn-primary" ng-click="initAddExercise(user)">Add Exercise</button>
        </td>
        <td>
            <button class="btn btn-primary" ng-click="calculateRewardForUser(user)">Calculate Reward</button>
        </td>
        <td>
            <button class="btn btn-primary" href="#" ng-click="showExerciseAndRewardForUser(user)">Show exercise & reward </button>
        </td>
    </tr>
    <tr ng-show="calculatedRewards">
        <td colspan="5">
            <b>Following reward(s) calculated for user: {{selectedUser.name}}</b>
            <table cellpadding="2">
                <tr>
                    <td>priceInEuro</td><td>convertedPrice</td><td>type</td><td>date</td>
                </tr>
                <tr ng-repeat="reward in calculatedRewards">
                    <td>{{reward.priceInEuro}}</td><td>{{reward.convertedPrice}}</td>
                    <td>{{reward.type}}</td><td>{{reward.date}}</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<form  id="saveExerciseForm" ng-show="showSaveExerciseForm">
    <table cellpadding="4">
        <tr>
            <td colspan="2">
                <h3>Add exercise for user :  {{selectedUser.name}}</h3>
                <hr/>
            </td>
        </tr>
        <tr>
            <td>
                <label>Steps : </label>
            </td>
            <td>
                <input type="number" name="steps" ng-model="exercise.steps" placeholder="Enter steps" required="true">
            </td>
        </tr>
        <tr>
            <td>
                <label>User :</label>
            </td>
            <td>
                {{selectedUser.name}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                {{exerciseSaveSuccessMessage}}
                {{exerciseSaveErrorMessage}}
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button ng-click="saveExercise(exercise)">Save</button>
            </td>
        </tr>
    </table>

</form>
<div ng-show="exercises">
    <h3>Exercises & Rewards <span ng-show="">for user: {{}} </span></h3>
        <table cellpadding="4" class="table">
            <tr>
                <th>
                    Steps
                </th>
                <th>
                    Date
                </th>
                <th>
                    Type
                </th>
                <th>
                    Reward type
                </th>
                <th>
                    Reward in EUR
                </th>
                <th>
                    Reward in {{selectedUser.currencyISOCode}}
                </th>
            </tr>
            <tr ng-repeat="exercise in exercises">
                <td>
                    {{exercise.steps}}
                </td>
                <td>
                    {{exercise.date}}
                </td>
                <td>
                    {{exercise.type}}
                </td>
                <td>
                    {{exercise.reward.type}}
                </td>
                <td>
                    {{exercise.reward.priceInEuro}}
                </td>
                <td>
                {{exercise.reward.convertedPrice}}
                </td>
            </tr>
        </table>
    </div>
</body>
</html>